<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      @media only screen and (max-width: 480px) {
                      #wrapper-container {
                          width: 100% !important;
                      }
                      .wrapper-content,
                      #app {
                          display: block !important;
                          width: 100% !important;
                      }
                      .main-content {
                          padding: 0 20px;
                      }
                      .w-600 {
                          width: 400px;
                      }
                  }
    </style>
  </head>
  <body id="app" style="margin:0;padding:0;background:#FFFFFF;font-family:Arial;font-style:normal;border:0;box-sizing:border-box;">
    <table border="0" cellpadding="0" cellspacing="0" id="wrapper-container" width="100%" style="border-collapse:separate;background:#e6e6e6;width:100%;height:100%;">
      <tr>
        <td style="border-collapse:separate;">
          <table border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:separate;background-color: #48495D;" width="100%">
            <tr width="100%" height="100">
              <td style="border-collapse:separate;">
                <table width="200" align="center" style="border-collapse:separate;">
                  <tr>
                    <td class="main-logo" align="center" height="50" width="50" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1549000724/themes-india/springboard_v1/images/springboard_logo.png');background-size:contain;background-repeat:no-repeat;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr width="100%">
              <td width="100%" style="border-collapse:separate;">
                <table class="w-600" width="600" cellspacing="0" cellpadding="0" align="center" style="border-collapse:separate;width:600px;">
                  <tr width="100%">
                    <td width="100%" style="border-collapse:separate;">
                      <table align="center" width="100%" style="border-collapse:separate;border-spacing: 0;">
                        <tr>
                          <td style="border-collapse:separate;background-color: #FFFFFF; padding: 50px 0 0;line-height: 36px;" valign="bottom">
                            <table width="85%" align="center" style="border-collapse:separate;">
                              <tr>
                                <td style="border-collapse:separate;">
                                  <p style="font-size: 14px;margin: 0;line-height: 30px;">Hey, {{user.first_name}}!</p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-collapse:separate;">
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="100%" valign="top" style="border-collapse:separate;">
            <tr width="100%">
              <td width="100%" style="border-collapse:separate;">
                <table class="w-600" width="600" align="center" cellspacing="0" cellpadding="0" height="100%" valign="top" style="border-collapse:separate;width:600px;">
                  <tr width="100%">
                    <td width="100%" valign="top" style="border-collapse:separate;">
                      <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:separate;">
                        <tr>
                          <td style="border-collapse:separate;">
                            <table class="w-600" align="center" width="100%" style="border-collapse:separate;width:600px;border-spacing: 0;border: none;" cellpadding="0" cellspacing="0">
                              <tr>
                                <td style="border-collapse:separate;background-color: #FFFFFF; padding: 25px 0 0; border: none;line-height: 36px;" valign="bottom">
                                  <table width="85%" align="center" style="border-collapse:separate;">
                                    <tr>
                                      <td style="border-collapse:separate;">
                                        <p style="font-size: 14px;margin: 0;line-height: 30px;">You've finished another month as a Springboard mentor. Congratulations! See below for your current stats, including your overall mentor rating. As always, feel free to reach out to <a class="spb-rating-info-link" href="mailto:mentors@springboard.com" style="color:#2d87b0;text-decoration:underline;">mentors@springboard.com</a> if you have any questions.</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-collapse:separate;">
                            <table class="w-600" align="center" width="85%" style="border-collapse:separate;width:600px;border-spacing: 0;border: 0;">
                              <tr>
                                <td style="border-collapse:separate;background-color: #FFFFFF;line-height: 36px; padding: 25px 0;" valign="bottom">
                                  <table width="85%" align="center" style="border-collapse:separate;">
                                    <tr>
                                      <td style="border-collapse:separate;">
                                        <p style="font-size: 14px;margin: 0; line-height: 30px;">Thanks for all of the work you do to help your students!</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td width="10%" style="border-collapse:separate;">
                      <table width="100%" style="border-collapse:separate;"></table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="border-collapse:separate;padding-bottom: 50px;">
          <table align="center" class="w-600" style="border-collapse:separate;width:600px;border-spacing: 0;" height="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-collapse:separate;background-color: #e6e6e6;" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-collapse:separate;
background: white;">
                  <tr>
                    <td style="border-collapse:separate;border-spacing: 0;border: none;padding-bottom: 50px;" align="center">
                      <table style="border-collapse:separate;border: 1px solid #A4A4AF;" cellpadding="0" cellspacing="0" width="85%">
                        <tr class="spb-image-row" style="border-spacing: 0;border: none;" align="center">
                          <td style="border-collapse:separate;">
                            <table style="border-collapse:separate;padding: 20px;">
                              <tr>
                                <td valign="top" style="border-collapse:separate;width:50px;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730200/mentor-rating-logo.png');background-size:contain;background-repeat:no-repeat;height: 48px;" class="image-container"></td>
                                <td style="border-collapse:separate;">
                                  <span class="spb-main-title-1" style="font-size:24px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:1.66px;color:#48485e;word-break:break-word;display:block;">{{user.first_name}}’s Performance for {{"today" | date: "%B %Y"}}</span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-gradient-divider.png');background-repeat:no-repeat;background-size:100%;height: 2px;" class="border-gradient-container"></td>
                        </tr>
                        <tr align="center" style="background-color: #f2f5f8;">
                          <td class="main-content" align="center" valign="top" style="border-collapse:separate;padding:0 20px;">
                            <table class="table-spb-rating-container" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="border-collapse:separate;">
                              <tr align="center">
                                <td class="td-spb-rating-container-left" align="center" valign="top" width="50%" style="border-collapse:separate;padding:15px 10px 0 0;">
                                  <table class="spb-rating-container" width="100%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-box-shadow.png');background-repeat:no-repeat;background-size:100% 350px;padding:20px 0;">
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;">
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">All-time</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-bottom: 25px;">Rating</p>
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">
                                          <span class="spb-star" style="background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-black-star.png');width:25px;height:24px;display:inline-block;background-repeat:no-repeat;background-size:100%;"></span>
                                          <span>{{user.average_rating_lifetime | default: "N/A"}}</span>
                                        </p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-top: 25px;">Total Rated</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-bottom: 25px;">Calls</p>
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">{{user.total_rated_call | default: "N/A"}}</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td class="td-spb-rating-container-right" align="center" valign="top" width="50%" style="border-collapse:separate;padding:15px 0 0 10px;">
                                  <table class="spb-rating-container" width="100%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-box-shadow.png');background-repeat:no-repeat;background-size:100% 350px;padding:20px 0;">
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;">
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">{{"today" | date: "%B"}}</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-bottom: 25px;">Rating</p>
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">
                                          <span class="spb-star" style="background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-black-star.png');width:25px;height:24px;display:inline-block;background-repeat:no-repeat;background-size:100%;"></span>
                                          <span>{{user.average_rating_current_month | default: "N/A"}}</span>
                                        </p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-top: 25px;">{{"today" | date: "%B"}} Rated</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;margin-bottom: 25px;">Calls</p>
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">{{user.total_rated_call_current_month | default: "N/A"}}</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr align="center">
                                <td class="td-spb-rating-container-left" align="center" valign="top" width="50%" style="border-collapse:separate;padding:15px 10px 0 0;">
                                  <table class="spb-rating-container" width="100%" height="253px" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-box-shadow.png');background-repeat:no-repeat;background-size:100% 350px;padding:20px 0;">
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;">
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">Overall Mentee</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">Completion Rate†</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;display: block;margin: 30px 0;">
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">
                                          {% if user.overall_mentee_completion_rate %}
                                                                        {{user.overall_mentee_completion_rate}}%
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                    </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td class="td-spb-rating-container-right" align="center" valign="top" width="50%" style="border-collapse:separate;padding:15px 0 0 10px;">
                                  <table class="spb-rating-container" width="100%" height="253px" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-box-shadow.png');background-repeat:no-repeat;background-size:100% 350px;padding:20px 0;">
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;">
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">Mentees</p>
                                        <p class="spb-rating-container-main" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;">Placed in Jobs</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" style="border-collapse:separate;margin: 30px 0;">
                                        <p class="spb-rating-container-sub" style="font-size:30px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;text-align:center;letter-spacing:1.39px;color:#48485e;margin:0;">{{user.mentees_with_job_offers | default: "N/A"}}</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr style="background-color: #f2f5f8;">
                          <td class="spb-td-main-content" style="border-collapse:separate;width:100%;">
                            <table width="100%" style="border-collapse:separate;padding: 0 20px 20px;">
                              <tr width="100%">
                                <td width="100%" style="border-collapse:separate;">
                                  <span class="spb-title-1" style="font-size:24px;font-weight:500;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:1.11px;color:#48485e;margin-top:20px;display: block;margin-bottom: 20px;">Average rating for {{user.course_name}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td class="spb-td-rating-1" style="border-collapse:separate;width:75%;">
                                  {% if user.average_rating_lifetime %}
                                                            {% assign width_left_line = user.average_rating_lifetime | times: 100 | divided_by: 5 %}
                                                            {% assign width_right_line = 100 | minus: width_left_line %}
                                                        {% else %}
                                                            {% assign width_right_line = 100 %}
                                                        {% endif %}
                                                        
                                  <table width="100%" style="border-collapse:separate;">
                                    <tr>
                                      <td style="border-collapse:separate;">
                                        <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;">
                                          <tr width="100%">
                                            {% if width_left_line > 0 %}
                                                                            
                                            <td width="{{width_left_line}}%" style="border-collapse:separate;">
                                              <table class="spb-td-rating-bar" width="0%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730198/mentor-rating-bar.png');display:block;width:100%;height:5px;background: #f2f5f8;">
                                                <tr></tr>
                                              </table>
                                            </td>
                                            {% endif %}
                                                                            
                                            <td style="border-collapse:separate;">
                                              <table align="center" style="border-collapse:separate;">
                                                <tr>
                                                  <td valign="bottom" style="border-collapse:separate;">
                                                    <span class="spb-text spb-td-rating-oval" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:0.76px;text-align:center;color:#48485e;margin:0;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-oval.png');display:block;width:30px;height:30px;background-repeat:no-repeat;position:relative;background-size:100%;width: 50px; margin-bottom: 5px;display: block;text-align: left;font-size: 20px;text-align: center;background: #f2f5f8;">{{user.average_rating_lifetime | default: 0}}</span>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            {% if width_right_line > 0 %}
                                                                            
                                            <td width="{{width_right_line}}%" style="border-collapse:separate;">
                                              <table class="spb-td-rating-bar" width="0%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730198/mentor-rating-bar.png');display:block;width:100%;height:5px;background: #f2f5f8;">
                                                <tr></tr>
                                              </table>
                                            </td>
                                            {% endif %}
                                                                        </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:separate;">
                                        <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;">
                                          <tr width="100%">
                                            {% if width_left_line > 0 %}
                                                                            
                                            <td width="{{width_left_line}}%" style="border-collapse:separate;">
                                              <table class="spb-td-rating-bar" width="0%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730198/mentor-rating-bar.png');display:block;width:100%;height:5px;">
                                                <tr></tr>
                                              </table>
                                            </td>
                                            {% endif %}
                                                                            
                                            <td style="border-collapse:separate;">
                                              <table align="center" style="border-collapse:separate;">
                                                <tr>
                                                  <td valign="bottom" style="border-collapse:separate;">
                                                    <span class="spb-td-rating-oval" style="background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-oval.png');display:block;width:30px;height:30px;background-repeat:no-repeat;position:relative;background-size:100%;"></span>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            {% if width_right_line > 0 %}
                                                                            
                                            <td width="{{width_right_line}}%" style="border-collapse:separate;">
                                              <table class="spb-td-rating-bar" width="0%" style="border-collapse:separate;background-image:url('https://res.cloudinary.com/springboard-images/image/upload/v1590730198/mentor-rating-bar.png');display:block;width:100%;height:5px;">
                                                <tr></tr>
                                              </table>
                                            </td>
                                            {% endif %}
                                                                        </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr style="margin-top: 30px;">
                                      <td width="100%;" style="border-collapse:separate;">
                                        <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;">
                                          <tr>
                                            <td valign="top" width="33%" style="border-collapse:separate;display: inline-block;" cellpadding="0" cellspacing="0">
                                              <table width="100%" style="border-collapse:separate;">
                                                <tr>
                                                  <td valign="top" style="border-collapse:separate;display: block;" align="left">
                                                    <img width="30" height="30" src="https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-star.png" style="border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;display: block;">
                                                  </td>
                                                  <td style="border-collapse:separate;display: block;" align="left">
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Bottom 25%</p>
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Needs Improvement</p>
                                                    <p class="spb-rating-container-main-2" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;font-size:10px;text-align:left;text-align: left;">3.88 - 4.79</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td valign="top" width="32%" style="border-collapse:separate;display: inline-block;">
                                              <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;margin-top: 8px;">
                                                <tr>
                                                  <td valign="top" align="center" style="border-collapse:separate;display: block;">
                                                    <img width="30" height="30" src="https://res.cloudinary.com/springboard-images/image/upload/v1590730199/mentor-rating-medal.png" style="border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;display: block;">
                                                  </td>
                                                  <td style="border-collapse:separate;display: block;" align="center">
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Middle 50%</p>
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Acceptable</p>
                                                    <p class="spb-rating-container-main-2" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;font-size:10px;text-align:left;text-align: center;">4.80 - 4.97</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td valign="top" width="33%" style="border-collapse:separate;display: inline-block;">
                                              <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:separate;margin-top: 8px;">
                                                <tr>
                                                  <td valign="top" style="border-collapse:separate;display: block;" align="right">
                                                    <img width="30" height="30" src="https://res.cloudinary.com/springboard-images/image/upload/v1590730200/mentor-rating-trophy.png" align="center" style="border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;">
                                                  </td>
                                                  <td style="border-collapse:separate;display: block;" align="right" valign="bottom">
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Top 25%</p>
                                                    <p class="spb-rating-text-2" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;font-size:12px;">Outstanding</p>
                                                    <p class="spb-rating-container-main-2" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;font-size:10px;text-align:left;text-align: right;">4.97 - 5.00</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr style="background-color: #f2f5f8;">
                          <td class="spb-td-main-content" valign="bottom" style="border-collapse:separate;width:100%;">
                            <table width="100%" style="border-collapse:separate;padding: 0 20px 20px;">
                              <tr>
                                <td align="left" style="border-collapse:separate;">
                                  <span class="spb-rating-text-1" style="font-size:16px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:0.76px;color:#48485e;margin:0;line-height: 1.5;font-size: 14px;">
                                    Click <a class="spb-rating-info-link" href="https://mentorguide.springboard.com/article/3683-mentor-recognition-program-springboard-inspire" target="_blank" style="color:#2d87b0;text-decoration:underline;">here</a> for info on the Mentor Recognition Springboard Inspire Program
                                                        </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr style="background-color: #f2f5f8;">
                          <td class="spb-td-main-content" style="border-collapse:separate;width:100%;">
                            <table width="100%" style="border-collapse:separate;padding: 0 20px 20px;">
                              <tr>
                                <td style="border-collapse:separate;">
                                  <span class="spb-rating-container-main-1" style="font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.27;letter-spacing:0.76px;text-align:center;color:#7d7f89;margin:0;font-size:16px;text-align:left;font-size: 14px;line-height: 1.5;">†: Mentee completion rate is calculated by dividing the number of completed students by the number of completed students + cancelled students.</span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
